
@model IPagedList<Parceiro>
@{
    ViewData["Title"] = ViewBag.Crud.Titulo;
}


@*Tela com os Dados do CRUD ( Titulo, SubTitulo e Descricao )*@
@await Component.InvokeAsync("CRUD")


@*Tela de Pesquisa*@
@await Component.InvokeAsync("Pesquisar", new
    {
    placeholder = "Digite o Nome do Parceiro",
      aspaction = ""
})

<br />

@if (TempData["msg_s"] != null)
{
    <p class="alert alert-success">@TempData["msg_s"]</p>
}


@if (Model.Count > 0)
{
    <form method="post">

        <div class="table-responsive ">
            <table class="tablecenterCSS table table-bordered table-striped table-sm">
                <thead>
                    <tr style="text-align:center">
                        <th class="col-1">@Html.DisplayNameFor(model => model.First().Id)</th>
                        <th class="col-6">@Html.DisplayNameFor(model => model.First().Nome)</th>
                        <th class="col-2">@Html.DisplayNameFor(model => model.First().CNPJ_CPF)</th>
                        <th class="col-2">Tipo</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Parceiro parceiro in Model)
                    {
                        <tr>
                            <th scope="row" class="text-center">@parceiro.Id</th>

                            <td> @Html.DisplayFor(model => parceiro.Nome)</td>
                            <td>

                                @parceiro.CNPJ_CPF

                            </td>
                            <td>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="chkCliente" id="@String.Concat("C", parceiro.Id.ToString())" checked="@(parceiro.Cliente == 1)" onclick="LigaDesligaParceiro(@parceiro.Id,1">
                                    <label class="custom-control-label font-weight-bold" for="@String.Concat("C", parceiro.Id.ToString())">Cliente</label>
                                </div>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="chkFornecedor" id="@String.Concat("F", parceiro.Id.ToString())" checked="@(parceiro.Fornecedor == 1)" onclick="LigaDesligaParceiro(@parceiro.Id,2)">
                                    <label class="custom-control-label font-weight-bold" for="@String.Concat("F", parceiro.Id.ToString())">Fornecedor</label>
                                </div>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="chkVendedor" id="@String.Concat("V", parceiro.Id.ToString())" checked="@(parceiro.Vendedor == 1)" onclick="LigaDesligaParceiro(@parceiro.Id,3)">
                                    <label class="custom-control-label font-weight-bold" for="@String.Concat("V", parceiro.Id.ToString())">Vendedor</label>
                                </div>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <br />
        @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
    </form>

}
else
{

    <div class="alert alert-info">
        <strong>Nenhum Registro Cadastrado!</strong>
    </div>

}


<script>
    function LigaDesligaParceiro(id, parceiro) {
        /*
        var chklista = $('input[name="chkCliente"]:checked').toArray().map(function (check) {
            return $(check).val();
        });



        var resultado = $('input[name=identificador]').is(':checked')

        var resultado = $('input[name='+identificador+']:checked').val();


        */


        var identificador='';
        var status = 0;

        if (parceiro == 1) {
            identificador = '#C' + id;
            var teucumyfriend = $(identificador);

            if (teucumyfriend.is(":checked")) {
                status = 1;
            }

        } else if (parceiro == 2) {

        } else if (parceiro == 3) {

        }




        alert(identificador);
        alert(status);

        $.ajax({
            type: "POST",
            headers: {
                "RequestVerificationToken": gettoken()
            },

            url: "/Admin/HabilitarParceiro/Manutencao/",
            data: { "Id": id, "tipo": parceiro, "LigadoDesligado": status },
            success: function (response) {

            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    }


     function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>
