@model IPagedList<CategoriaProduto>

@{

    ViewData["Title"] = ViewBag.Crud.Titulo;
    var pesquisa = Context.Request.Query["pesquisa"];


}


@await Component.InvokeAsync("CRUD")

<form method="get">
    <div class="row">
        <div class="col-9 form-group">
            <input type="Text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite a Descrição da Categoria">
        </div>

        <div class="col-3 px-3 text-right justify-content-end">

            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i> Pesquisar</button>

            <a asp-action="Cadastrar" class="btn btn-outline-success"><i class="fas fa-file-upload"></i> Cadastrar</a>
            
        </div>

    </div>
</form>
<br />


@if (TempData["msg_s"] != null)
{
    <p class="alert alert-success">@TempData["msg_s"]</p>
}


@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr style="text-align:center">
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Descricao)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().CategoriaPaiId)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CategoriaProduto categoria in Model)
                {
                    <tr>
                        <th scope="row">@categoria.Id</th>
                        <td>@categoria.Descricao</td>
                        <td>
                            @Html.DisplayFor(model => categoria.CategoriaPai.Id)
                            -
                            @Html.DisplayFor(model => categoria.CategoriaPai.Descricao)
                        </td>
                        <td style="text-align:center">
                            <a asp-action="Atualizar" asp-route-id="@categoria.Id" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i> Editar</a>
                            <a asp-action="Excluir" asp-route-id="@categoria.Id" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Excluir</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <br />
    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{

    <div class="alert alert-info">
        <strong>Nenhum Registro Cadastrado!</strong>
    </div>
}
