@model IPagedList<CategoriaProduto>

@{

    ViewData["Title"] = ViewBag.Crud.Titulo;
    var pesquisa = Context.Request.Query["pesquisa"];


}

<h1>@ViewBag.Crud.Titulo</h1>
<h3>@ViewBag.Crud.SubTitulo</h3>
<h5>@ViewBag.Crud.Descricao</h5>


<br />

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
<br />
<br />

<form method="get">
    <div class="row">
        <div class="col-9">

            <div class="form-group">
                <label for="Pesquisar"></label>
                <input type="Text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite a Descrição da Categoria">


            </div>



        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>

    </div>
</form>
<br />
<br />

@if (TempData["msg_s"] != null)
{
    <p class="alert alert-success">@TempData["msg_s"]</p>
}


@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Descricao)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().CategoriaPaiId)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CategoriaProduto categoria in Model)
                {
                    <tr>
                        <th scope="row">@categoria.Id</th>
                        <td>@categoria.Descricao</td>
                        <td>
                            @Html.DisplayFor(model => categoria.CategoriaPai.Id)
                            -
                            @Html.DisplayFor(model => categoria.CategoriaPai.Descricao)
                        </td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@categoria.Id" class="btn btn-secondary">Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@categoria.Id" class="btn btn-danger">Excluir</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <br />
    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{

    <div class="alert alert-info">
        <strong>Nenhum Registro Cadastrado!</strong>
    </div>
}
