@model GestorAutonomo.Models.Produto;

@{

    ViewData["Title"] = ViewBag.Crud.Titulo;
}

@await Component.InvokeAsync("CRUD")

<form method="post" id="@String.Concat("frm_manutencao_",ViewBag.Crud.Operacao).ToLower()" asp-action="Manutencao">

    <input type="hidden" name="operacao" value="@ViewBag.Crud.Operacao">



    @if (ViewBag.Crud.Operacao != Opcoes.Create)
    {
        <input type="hidden" asp-for="Id" />

    }


    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><strong>Dados</strong></a>
            <a class="nav-item nav-link" id="nav-estoque-tab" data-toggle="tab" href="#nav-estoque" role="tab" aria-controls="nav-estoque" aria-selected="false"><strong>Estoque</strong></a>
            <a class="nav-item nav-link" id="nav-precos-tab" data-toggle="tab" href="#nav-precos" role="tab" aria-controls="nav-precos" aria-selected="false"><strong>Preços</strong></a>
            <a class="nav-item nav-link" id="nav-imagens-tab" data-toggle="tab" href="#nav-imagens" role="tab" aria-controls="nav-imagens" aria-selected="false"><strong>Imagens</strong></a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CategoriaProdutoId"></label>
                    @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                    {
                        <select asp-for="CategoriaProdutoId" class="form-control" asp-items="@ViewBag.Categorias" disabled="disabled">
                            <option value="">Selecione a Categoria</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="CategoriaProdutoId" class="form-control" asp-items="@ViewBag.Categorias">
                            <option value="">Selecione a Categoria</option>
                        </select>

                    }
                    <span asp-validation-for="CategoriaProdutoId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Referencia"></label>
                    @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                    {
                        <input asp-for="Referencia" class="form-control" placeholder="Digite o nome do produto" disabled="disabled" />
                    }
                    else
                    {
                        <input asp-for="Referencia" class="form-control" placeholder="Digite o nome do produto" />
                    }
                    <span asp-validation-for="Referencia" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Descricao"></label>
                @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                {
                    <textarea asp-for="Descricao" class="form-control" disabled="disabled"></textarea>
                }
                else
                {
                    <textarea asp-for="Descricao" class="form-control"></textarea>

                }
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Peso"></label>
                    <div class="input-group mb-2">
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="Peso" class="form-control" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="Peso" class="form-control" />

                        }
                        <div class="input-group-prepend">
                            <div class="input-group-text">kg</div>
                        </div>
                    </div>
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Largura"></label>
                    <div class="input-group mb-2">
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="Largura" class="form-control" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="Largura" class="form-control" />

                        }
                        <div class="input-group-prepend">
                            <div class="input-group-text">cm</div>
                        </div>
                    </div>
                    <span asp-validation-for="Largura" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="Altura"></label>
                    <div class="input-group mb-2">
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="Altura" class="form-control" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="Altura" class="form-control" />

                        }
                        <div class="input-group-prepend">
                            <div class="input-group-text">cm</div>
                        </div>
                    </div>
                    <span asp-validation-for="Altura" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Comprimento"></label>
                    <div class="input-group mb-2">
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="Comprimento" class="form-control" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="Comprimento" class="form-control" />

                        }
                        <div class="input-group-prepend">
                            <div class="input-group-text">cm</div>
                        </div>
                    </div>
                    <span asp-validation-for="Comprimento" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-estoque" role="tabpanel" aria-labelledby="nav-estoque-tab">
            Quantidade em Estoque
            <div class="row">

                @{ foreach (var item in Model.ProdutoSaldo)
                    {
                        <div class="form-group col-md-6">
                            <label>@item.PontosEstoque.Descricao</label>
                            <div class="input-group mb-2">
                                <label>Saldo</label>
                                
                                <input type="text" value=@item.Saldo class="form-control" disabled="disabled" />
                            </div>
                            <div class="input-group mb-2">
                                <label>Reserva</label>
                                <input type="text" value=@item.Reserva class="form-control" disabled="disabled" />
                            </div>
                        </div>

                    }

                }
            </div>

        </div>
        <div class="tab-pane fade" id="nav-imagens" role="tabpanel" aria-labelledby="nav-imagens-tab">
            Imagens do Produto


            @{
                List<Imagem> Imagens = new List<Imagem>();
                if (Model != null)
                {
                    Imagens = Model.Imagens.ToList();
                }
            }
            <div class="row Imagens">
                @for (int i = 0; i < 6; i++)
                {
                    @if (Imagens.ElementAtOrDefault(i) != null)
                    {
                        <div class="col-md-2">
                            <input type="file" class="input-file" />
                            <div class="container-img-thumbnail">
                                <span class="helper"></span><img src="@Imagens.ElementAtOrDefault(i).Caminho" class="img-thumbnail img-upload" />
                            </div>
                            <div class="btn btn-danger btn-imagem-excluir">X</div>
                            <input type="text" name="imagem" value="@Imagens.ElementAtOrDefault(i).Caminho" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2">
                            <input type="file" class="input-file" />
                            <div class="container-img-thumbnail">
                                <span class="helper"></span><img src="~/images/produtos.jpg" class="img-thumbnail img-upload" />
                            </div>
                            <div class="btn btn-danger btn-imagem-excluir btn-ocultar">X</div>
                            <input type="text" name="imagem" />
                        </div>
                    }
                }
            </div>

        </div>




        <div class="tab-pane fade" id="nav-precos" role="tabpanel" aria-labelledby="nav-precos-tab">

            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="PrecoVenda"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="PrecoVenda" id="PrecoVenda" class="form-control dinheiro" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="PrecoVenda" id="PrecoVenda" class="form-control dinheiro" data-val="false" />

                        }

                    </div>
                    <span asp-validation-for="PrecoVenda" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="PrecoCusto"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="PrecoCusto" class="form-control dinheiro" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="PrecoCusto" class="form-control dinheiro" data-val="false" />

                        }

                    </div>
                    <span asp-validation-for="PrecoCusto" class="text-danger"></span>
                </div>


                <div class="form-group col-md-3">
                    <label asp-for="PrecoMedio"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        @if (ViewBag.Crud.Operacao == Opcoes.Read || ViewBag.Crud.Operacao == Opcoes.Delete)
                        {
                            <input asp-for="PrecoMedio" class="form-control dinheiro" disabled="disabled" />
                        }
                        else
                        {
                            <input asp-for="PrecoMedio" class="form-control dinheiro" data-val="false" />

                        }

                    </div>
                    <span asp-validation-for="PrecoMedio" class="text-danger"></span>
                </div>



            </div>
        </div>

    </div>

    @await Component.InvokeAsync("CRUD_Acao")

</form>


<script>
     function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>
